body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    
}

.protect  h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 2rem;
}

.protect ul {
    list-style: none;
    padding: 0;
}

.protect li {
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.protect li h2 {
    color: #2980b9;
    margin-bottom: 0.5rem;
}

.protect p {
    margin: 0.4rem 0;
    line-height: 1.5;
}

.protect strong {
    color: #34495e;
}
