{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Strategies for {{ pest.name }}</title>
    <link rel="stylesheet" href="{% static 'css/protect_detail.css' %}">

</head>
<body>
    <header>
        <h1>Control Strategies for {{ pest.name }}</h1>
    </header>
    <main>
        <section>
            <h2>Controlling Strategies</h2>
            <p>{{ pest.controlling_strategies }}</p>
        </section>
        <section>
            <h2>Monitoring</h2>
            <p>{{ pest.monitoring }}</p>
        </section>
        <a href="{% url 'pest_detail' pest.key %}">
            <button>Back to Pest Details</button>
        </a>
    </main>
</body>
</html>
