
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protection Strategies</title>
    <link rel="stylesheet" href="{% static 'css/protect.css'%}">
</head>
<body>
   <main>
    <h1>Protection Strategies</h1>
    <ul>
        {% for pest in protected_pests %}
            <li>
                <h2>{{ pest.name }} ({{ pest.scientific_name }})</h2>
                <p><strong>Affects:</strong> {{ pest.affects }}</p>
                <p><strong>Description:</strong> {{ pest.description }}</p>
                <p><strong>Controlling Strategies:</strong> {{ pest.controlling_strategies }}</p>
                <p><strong>Monitoring:</strong> {{ pest.monitoring }}</p>
            </li>
        {% endfor %}
    </ul>
</main>
</body>
</html>
