<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <nav>
        {% include 'main/nav.html' %}
    </nav>
    <h1>About Us</h1>
    <h2>Welcome to our website! Based On Biosecurity and Django</h2>
    <ul> Team members 
        <li>
        Md Meherab Hossain
        Student S380249
        </li>
        <li>
        Ahnad As Sabor Siam
        Student S374721
        </li>
        
        <li>
           Faiyaz Mugni Zaman
            Student S372984 
        </li>
        <li>
        Abdurrahman Adeiza Aliyu
        Student S371930
        </li>
    </ul>
</body>
</html>
