{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ disease.name }}</title>
    <link rel="stylesheet" href="{% static 'css/disease_detail.css' %}">
</head>
<body>
    <nav>
        {% include 'main/nav.html' %}
    </nav>
    
    <header>
        <h1>{{ disease.name }}</h1>
    </header>

    <main>
        <img src="{% static disease.image %}" alt="{{ disease.name }}">
        
        <h2>Damages</h2>
        <p>{{ disease.description }}</p>

        <h2>LIFE CYCLE</h2>
        <p>{{ disease.life_cycle }}</p>

        <a href="/diseases_protect/">
            <button>Go to Control Strategies</button>
        </a>
    </main>
</body>
</html>
